* {
    font-family: Helvetica, Arial, sans-serif;
}


.square {
    background-color: #c6ffc1;
    font-size: 2.3rem;
    width: 150px;
    height: 150px;
    border: 2px solid #34656d;
    color: #334443;
}

.btnNGame {
    width: 25%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1rem;
}